<!-- <head> -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="/img/shyguy24nut.webp" type="image/webp">

  <title><%= title %></title>
  <meta name="description" content="<%= description %>">

  <meta property="og:title"             content="<%= title %>">
  <meta property="og:description"       content="<%= description %>">
  <meta property="og:profile:username"  content="shyguycj">
  <meta property="og:url"               content="https://shyguycj.tv<%=path%>">
  <meta property="og:locale"            content="en_US">
  <meta property="og:site_name"         content="<%= siteName %>">
  <meta property="og:image"             content="<%= avatar %>">
  <meta property="og:image:alt"         content="ShyguyCJ profile picture">
  <meta property="og:type"              content="website">

  <meta name="twitter:card"             content="summary_large_image">
  <meta property="twitter:domain"       content="shyguycj.tv">
  <meta property="twitter:url"          content="https://shyguycj.tv/">
  <meta name="twitter:title"            content="<%= title %>">
  <meta name="twitter:description"      content="<%= description %>">
  <meta name="twitter:image"            content="<%= avatar %>">
  <meta name="twitter:image:alt"        content="ShyguyCJ profile picture">
  <meta name="twitter:site"             content="@shyguycj">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="ShyguyCJ">
  <meta name="apple-mobile-web-app-title" content="ShjguyCJ">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="/img/shyguy24nut.png">
  <link rel="apple-touch-icon" sizes="256x256" href="/img/shyguy24nut-256-maskable.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/img/shyguy24nut-512-maskable.png">

  <link rel="manifest" href="/manifest.json">

  <style>
    <%- include('../public/css/style.css') %>
  </style>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.min.js');
    }
  </script>
