<%- include("_nut") -%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <%- include("_head") -%>
      <title>Clicky</title>
      <style>
        body {
          grid-template-areas:
            "nav"
            "body"
            "footer";
          grid-template-rows: var(--navbar-height) auto 50px;
        }

        main {
          color: white;
          position: relative;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          transition: transform linear 50ms;
        }

        button:active {
          transform: scale(0.9);
        }

        img {
          width: 256px;
        }

        div {
          font-size: 2em;
        }

        label {
          font-weight: bold;
          font-size: 1.1em;
        }

        #particles-js {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }

        <%- include('../public/css/switch.css') %>
      </style>
      <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>

  <body>

    <%- include ('_nav.ejs') %>

      <main>

        <button aria-label="The nut" onclick="nut()" id="nutbutton">
          <img src="/img/shyguy24nut-256.png" alt="nut" class="nut" width="256" height="256">
        </button>

        <div>
          Nut Nation has nutted <label id="counter">0</label> times!
        </div>

        <!-- particles.js container -->
        <div id="particles-js"></div>

      </main>

      <footer>
        <div class="button r" id="button-3">
          <input id="nutstorm" type="checkbox" class="checkbox" onchange="toggleNuts(event)"
            aria-label="Toggle nut animations">
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </footer>

      <script src="/js/particles.min.js"></script>
      <script src="/js/particles.app.js"></script>

      <script src="/js/reconnecting-websocket.min.js"></script>

      <script>

        const ws = new ReconnectingWebSocket(`${location.origin.replace('http', 'ws')}/nutsocket`);
        let suppressAnimation;
        let currentEmote;

        ws.onmessage = (event) => {

          const oldNuts = parseInt(document.getElementById('counter').innerText.replace(/[\D]/g, ''));
          const newNuts = parseInt(event.data);

          animateValue('counter', oldNuts, newNuts, 1000);
          pickImage(newNuts);

          // Special numbers
          if ([42069, 66996, 69420, 69696, 100000, 420420, 420690, 696969, 1000000, 42069420, 420069420].includes(newNuts)) {
            document.getElementById('nutbutton').className = 'shake-hard shake-constant';
          } else {
            document.getElementById('nutbutton').className = '';
          }

        };

        function nut() {
          if (ws && ws.readyState === 1) {
            ws.send('nut');

            if (suppressAnimation) clearTimeout(suppressAnimation);
            suppressAnimation = setTimeout(() => {
              clearTimeout(suppressAnimation);
              suppressAnimation = false;
            }, 1000);

          }
        }

        function pickImage(count) {

          // Available emotes
          // Must have a 16 and 256 px variant
          const images = ['shyguy24nut', 'shyguy24Lasagna', 'shyguy24Nutlove'];

          const newEmote = Math.floor(count / 1000) === 69
            ? 'shyguy24Nutlove'
            : images[Math.floor(count / 1000) % images.length];

          if (newEmote !== currentEmote) {
            currentEmote = newEmote;
            document.querySelector('img.nut').setAttribute('src', `/img/${newEmote}-256.png`);

            // Unless they prefer reduced motion or disabled the nutstorm, change the nut effect
            if (isNutStormEnabled()) {
              window.particlesJsOptions.particles.shape.image.src = `/img/${newEmote}-16.png`;
              particlesJS('particles-js', window.particlesJsOptions);
            }
          }
        }

        function animateValue(id, start, end, duration) {
          if (start === end || start > end) return;
          const obj = document.getElementById(id);
          const range = end - start;

          // If the range is over 1000 just jump right to it.
          if (Math.abs(range) > 1000 || suppressAnimation) return obj.innerText = end.toLocaleString();

          let current = start;
          const increment = end > start ? 1 : -1;
          const stepTime = Math.abs(Math.floor(duration / range));
          const timer = setInterval(() => {
            current += increment;
            obj.innerText = current.toLocaleString();
            if (current == end) {
              clearInterval(timer);
            }
          }, stepTime);
        }

        /////

        if (isNutStormEnabled() === false) {
          document.getElementById('particles-js').style.display = 'none';
          document.getElementById('nutstorm').checked = true;
        }

        function toggleNuts(event) {

          const checked = !event.currentTarget.checked;

          document.getElementById('particles-js').style.display = checked ? 'block' : 'none';

          if ('localStorage' in window) {
            try {
              window.localStorage.setItem('nutstorm', JSON.stringify(checked));
            } catch (error) {
              //
            }
          }

          if (checked) self.location.reload();

        }

        function isNutStormEnabled() {

          // If the user prefers reduced motion, don't show the storm
          if (window.matchMedia('(prefers-reduced-motion: reduce)').matches) return false;

          try {

            // Try and get the nutstorm setting (or nothing)
            return window.localStorage.getItem('nutstorm') !== 'false';

          } catch (error) {

            // If we can't get the setting from localStorage, be safe and turn off the storm
            return false;

          }
        }

      </script>

  </body>

  </html>
