<%- include("_nut") -%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <%- include("_head") -%>
      <title>N U T</title>
      <style>
        body,
        html {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          background: black !important;
        }

        main {
          background: none !important;
        }

        img {
          display: inline-block;
        }

        button {
          position: fixed;
          bottom: 10px;
          right: 10px;
          color: white;
          border: none;
          background: none;
          cursor: pointer;
        }

        #fullscreen-off { display: none }

        @media all and (display-mode: fullscreen) {
          body {
            grid-template-areas:
              "body";
            grid-template-rows: auto;
          }
          nav {
            display: none;
          }
          #fullscreen-off { display: initial; }
          #fullscreen-on { display: none; }
        }
      </style>
  </head>

  <body>

    <%- include('_nav.ejs') %>

      <main>

        <marquee behavior="alternate" direction="down" width="100%" height="100%">
          <marquee behavior="alternate" direction="left" width="100%">
            <img src="/img/shyguy24nut-dvd.png" alt="nut" class="nut" width="95" height="124">
          </marquee>
        </marquee>

        <button title="Fullscreen" onclick="toggleFullscreen()">

          <svg id="fullscreen-on" style="width:24px; height:24px;" viewBox="0 0 24 24" aria-label="Fullscreen">
            <path fill="currentColor"
              d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
          </svg>

          <svg id="fullscreen-off" style="width:24px; height:24px;" viewBox="0 0 24 24"
            aria-label="Exit fullscreen">
            <path fill="currentColor"
              d="M14,14H19V16H16V19H14V14M5,14H10V19H8V16H5V14M8,5H10V10H5V8H8V5M19,8V10H14V5H16V8H19Z" />
          </svg>

        </button>

      </main>

      <script>

        const fsButton = document.querySelector('button');
        const imgFsOn = document.getElementById('fullscreen-on');
        const imgFsOff = document.getElementById('fullscreen-off');

        function toggleFullscreen() {

          if (document.fullscreenElement) {
            document.exitFullscreen();
            toggleFullscreenIcon(true);
          } else {
            document.querySelector('main').requestFullscreen();
            toggleFullscreenIcon(false);
          }

        }

        function toggleFullscreenIcon(exit) {
          if (exit) {
            fsButton.title = 'Fullscreen';
          } else {
            fsButton.title = 'Exit Fullscreen';
          }
        }

      </script>

  </body>

  </html>
