<%- include("_nut") -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("_head") -%>
  <title>ShyguyCJ on Twitch</title>
</head>
<body>

  <%- include('_nav.ejs') %>

  <main>

    <div id="twitch-player"></div>

    <a href="https://twitch.tv/shyguycj" class="button">Watch on Twitch.tv</a>

    <a href="https://discord.gg/yDwH4aU" class="button discord"><img src="/img/discord.png" alt="Join us on Discord"></a>

  </main>

  <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
  <script type="text/javascript">
    var options = {
      width: 800,
      height: 500,
      channel: "shyguycj"
    };
    var player = new Twitch.Player("twitch-player", options);
    player.setVolume(0.5);
  </script>

</body>
</html>
