<%- include("_nut") -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("_head") -%>
  <style>
    h1, h2, form, p, ul, li {
      margin: 0;
      padding: 0;
    }
    main {
      color: white;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    input {
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: 1.3em;
      font-family: var(--font-family);
    }
    button {
      padding: 8px;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-top: 20px;
    }
    li {
      list-style: none;
    }
    p {
      text-align: center;
      font-size: 1.3em;
    }
  </style>
</head>
<body>

  <%- include('_nav.ejs') %>

  <main>
    <% if (expired) { %>

      <h1>Thanks for supporting me!</h1>

      <p>The form is closed now.</p>

      <p>For those that got their name in, I'll be sending out cards or emails in the next couple of weeks and will post updates to Discord and on stream.</p>

    <% } else if (!notSubbed) { %>

      <h1>Thanks for supporting me!</h1>

      <h2>I'd love to send you a thank you card.</h2>

      <form action="/thanks" method="post">

        <label for="username">Your Twitch username</label>

        <input type="text"
               name="username"
               placeholder="Twitch username"
               minlength="4"
               maxlength="25"
               required
        >

        <button class="button" type="submit">Next</button>

      </form>

    <% } else { %>

      <h1>Whoops!</h1>

      <p>It looks like you haven't subscribed, or your sub has expired.</p>

      <p>Feel free to stop by the stream and show your support!<br />
         For Subtember, all subs and gift subs are 20% off!</p>

      <ul>
        <li><a class="button" href="https://twitch.tv/shyguycj">Watch on Twitch.tv</a></li>
        <li><a class="button" href="/thanks">Try Again</a></li>
      </ul>

    <% } %>
  </main>

</body>
</html>
