* {
  box-sizing: border-box;
}

:root {
  --navbar-height: 46px;
  --font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  background: rgb(102,51,153);
  background: radial-gradient(circle at 50%, rgba(102,51,153,1) 20%, rgba(77,38,115,1) 100%);
  font-family: var(--font-family);
  display: grid;
  grid-template-areas:
      "nav"
      "body";
  grid-template-rows: var(--navbar-height) auto;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  z-index: 10;
}

nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #41186b;
  /* box-shadow: 0 3px 3px rgb(0 0 0 / 30%); */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
}

footer {
  padding-left: 10px;
  padding-right: 10px;
}

#twitch-player iframe {
  border: solid 2px white;
  box-shadow: 0 3px 5px 5px rgba(0,0,0,0.3);
  max-width: 100%;
}

a.button, button {
  border: none;
  background: white;
  color: rebeccapurple;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
}

.button.discord img {
  max-width: 150px;
  display: block;
}
